<ul id="todo-list">
  <li class="completed">
    <input type="checkbox" class="toggle">
    <label>Update my resume</label><button class="destroy"></button>
  </li>
  <li>
    <input type="checkbox" class="toggle">
    <label>Answer the code camp short-answer questions!</label><button class="destroy"></button>
  </li>
  <li>
    <input type="checkbox" class="toggle">
    <label>Apply to code camp!</label><button class="destroy"></button>
  </li>
</ul>